// Font Family
$main-font: 'Satoshi';
$sub-font: 'ClashDisplay';
$magnita: 'Magnita';
$bootstrapFont: 'bootstrap-icons';

// Color Settings
$text-color: rgba(0,0,0,0.7);
$text-dark: #000;
//$heading: #19352D;
$heading: #6E0E10;
//$color-one: #CFFF45;
$color-one: #fed903;
//$color-two: #29594B;
$color-two: #b22024;
//$color-three:#0C3A30;
$color-three: #9d080b;
//$color-four: #E6FD5A;
$color-four: #fed903;
//$color-five: #0E3E2F;
$color-five: #6E0E10;
//$color-six: #DFFF5E;
$color-six: #DFFF5E;
//$color-seven: #044F3B;
$color-seven: #6E0E10;
//$color-eight: #1F5E59;
$color-eight: #b22024;
//$light-bg-one: #EBF3EE;
$light-bg-one: #f1eded;
//$light-bg-two: #f1eded;
$light-bg-two: #f1eded;
//$cyan: #DCEFF0;
$cyan: #f1eded;

$light-pink: #fff;
